NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBI1sPxggPRkZwIV4zaPavk7gOECAsDi9s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xtrainer-45f8d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xtrainer-45f8d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xtrainer-45f8d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=204702937283
NEXT_PUBLIC_FIREBASE_APP_ID=1:204702937283:web:719cda9778e7a45669f276
